* {
  margin: 8px;
}
.del {
  cursor: pointer;
  border-radius: 3px;
}

.del:hover {
  background-color: #ffff;
  border: 1px solid #ff0000;
  color: #ff0000;
}

.Toastify__toast-icon {
  margin-inline-end: 0px !important;
  width: 35px !important;
}
